#main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  padding: 2rem;
}

#cardFront {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
}

#total {
  grid-column: 1;
}

#image{
  grid-column: 2/3;
  font-size: 2.5rem;
  text-align: right;
}

#creditCardLabel, #creditCardNumber {
  grid-column: 1/3;
  grid-row: 2/3;
}

#cardHolderLabel, #cardHolderName {
  grid-column: 1;
}

#cardExpiration {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

