header, footer{
    background-color: #3C7AFF;
    color: white;
    text-align: center;
}

body{
    background-color: lightgrey;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

nav a{
    color: white;
    display: none;
    padding: 5px;
}

h2 {
    text-align: center;
}

figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid white;
  margin: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
}

figure{
    padding: 20px;
    text-align: center;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu-btn{
    display: none;
  }
  nav a{
    display: inline;
  }
}

@media screen and (min-width: 1000px) {
  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}