h1{
    text-align: center;
}

.main-nav{
    text-align: right;
    list-style: none;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    padding: 10px;
}

.main-nav a{
    text-decoration: none;
    color: #D20103;
}

.review{
    text-align: right;
}

.book h2{
    color: #D20103;
}

.book img{
    display: block;
    margin: 0 auto;
}

.book{
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    padding-top: 10px;
    margin-top: 5%;
    padding: 20px;
}

footer{
    text-align: center;
}

@media (min-width: 600px){
    .book{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .review{
        grid-column: 1/2;
        grid-row: 1/6;
        border-right: 2px solid goldenrod;
        padding: 10%;
        margin: 10%;
    }

    .book img{
        grid-column: 2/3;
        grid-row: 2;
    }

    #desc{
        grid-row: 3;
    }
}